$color-secondary: #F4804A;
$navbar-light-active-color: $color-secondary;
@import "../bootstrap/scss/bootstrap";

img {
    border-radius: 5px;
}

strong {
    font-weight: 700;
    text-shadow: 1px 1px 10px black;
}

.nav-link.active {
    font-weight: 700;
}

#home {
    background: rgba(114, 171, 178, .5);
    
    > .container:first-child {
        background-image: url('../img/blue_crop.JPEG');
        background-size: cover;
        
        // box-shadow: inset 0 0 0 1000px rgba(255,255,255,.2);

        .display-1,
        .lead {
            align-content: center;
        }

        .lead .secondary {
            color: $color-secondary;
        }
    }


}

a .social {
    color: $gray-900;

    &:hover {
        color: $gray-800;
    }

    &:active {
        color: $gray-700;
    }

    &:visited {
        color: $gray-900;
    }
}

.btn-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $gray-900;
    // box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);

    &:hover {
        background: $color-secondary;
        color: $gray-900;
        border: 1px solid $gray-900;
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1);
    }

    &:focus,
    &:active {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

.card {
    overflow: hidden;

    &__inset-shadow {
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            -webkit-box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);  
            -moz-box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);
            box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);
            // overflow: hidden;
            transition: box-shadow .2s ease;
        }

        &:hover::after {
            box-shadow: none;            
        }
    }

    &__screenshot {
        transition: transform .2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 1rem;
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: none;
            cursor: help;
        }

        &--html { 
            background: url(../img/ico/html5.svg);
        }

        &--css {
            background: url(../img/ico/css3.svg);
        }

        &--sass {
            background: url(../img/ico/sass.svg);
        }

        &--js {
            background: #F7DF1E url(../img/ico/javascript.svg);
        }

        &--bootstrap {
            background: url(../img/ico/bootstrap.svg);
        }

    }
}